PORT=3002
NODE_ENV=development

# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=khaana_khazana

# Secrets for token verification
JWT_SECRET=superSecretAccessKey2026!

# OpenTelemetry configuration (optional)
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
